*{
  margin: 0;
  padding: 0;
}

.home > h3 {
  background: #000;
}
.box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5px;
  row-gap: 1em;
  background: #b9b9b9;
  padding-top: 10px;
  border-radius: 5px;
}
.ticket-book-container{
  background: #b9b9b9;
  padding-bottom: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  background: #fff;
  margin-top: 20px;
  border: 1px solid rgba(197, 197, 199,0.5);
  border-radius: 3px;
  padding: 0.5em;
  margin-right: 25px;
  
}
.form-group h5{
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(9, 227, 155);
}

@media only screen and (max-device-width: 700px) {
  .box {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    flex-direction: column;
  }
  .ticket-book-container{
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
}